body {
   font-family: "Manrope", sans-serif;
   background-color: #19191a;
   scrollbar-width: none;
   -ms-overflow-style: none;
   overflow-x: hidden;
   /* background-color: red; */
}
html {
   scroll-behavior: smooth;
}
body::-webkit-scrollbar {
   display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   margin: 0;
   font-family: "Manrope", sans-serif;
   text-decoration: none;
}
button {
   cursor: pointer;
}

.container {
   width: 90%;
   max-width: 1536px;
   margin: 0 auto;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
   width: 2px;
   height: 2px;
}

::-webkit-scrollbar-track {
   background: #0a0a0a; /* dark track */
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(
      180deg,
      #00aaff,
      #0066ff
   ); /* neon blue gradient */
   border-radius: 10px;
   box-shadow: 0 0 6px rgba(0, 150, 255, 0.6); /* subtle glow */
   transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(
      180deg,
      #33ccff,
      #0099ff
   ); /* brighter on hover */
   box-shadow: 0 0 10px rgba(0, 180, 255, 0.9);
}

/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #0099ff #0a0a0a; /* thumb, track */
}
.title {
   font-size: 18px;
   color: white;
   padding: 10px 18px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   background-color: #232324;
   align-items: center;
   width: fit-content;
   border-radius: 20px;
}
.blue-point {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #4989f1;
   animation: blink 1s infinite;
}

@media screen and (max-width: 768px) {
   .title {
      font-size: 14px;
      padding: 8px 12.4px;
      gap: 8px;
   }
   .blue-point {
      width: 9px;
      height: 9px;
   }
}
@keyframes blink {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}
/* @keyframes blink {
   0%, 100% { background-color: #4989f1; }
   50% { background-color: transparent; }
} */

/* Header */
#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   color: white;
   transition: transform 0.3s ease;
   z-index: 2;
   padding: 2vh 0;
   display: flex;
   align-items: center;
}

#header.hidden {
   transform: translateY(-100%);
}
#header.scrolled {
   background: rgba(25, 25, 26, 0.9); /* dark bg when visible after scroll */
   backdrop-filter: blur(8px); /* optional glass effect */
}

.header-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
   /* background-color: #ffffff60; */
}
.header-inner .right {
   display: flex;
   flex-direction: row;
   gap: 0.75vw;
}

.header #discuss-button {
   background-color: #4989f1;
   border-radius: 30px;
   font-family: "Manrope", sans-serif;
   color: #fff;
   border: none;
   padding: 8px 16px;
   text-decoration: none;
   font-size: 18px;
   font-weight: 200;
   transition: 0.3s transform ease-in-out;
}
.header #discuss-button img {
   width: 0;
}
.header #discuss-button:hover {
   background-color: #4989f1;
   color: #fff;
   border: none;
   transform: scale(1.05);
}
.header .menu-btn {
   background-color: #19191a;
   padding: 8px 2px 8px 16px;
   border: none;
   border-radius: 30px;
   color: #fff;
   font-family: "Manrope", sans-serif;
   cursor: pointer;
   text-align: center;
   font-size: 18px;
   font-weight: 200;
}

.header .menu-btn span {
   background-color: #4989f1;
   border-radius: 100%;
   padding: 6px 10px;
   margin-left: 5px;
}
@media screen and (max-width: 768px) {
   #header {
      color: white;
      padding: 2vh 0;
   }
   .header-inner {
      padding: 15px 0;
      /* background-color: #ffffff60; */
   }
   .logo img {
      width: 130px;
   }
   .header #discuss-button {
      display: none;
   }
   .header .menu-btn {
      padding: 6px 1.5px 6px 13px;
      font-size: 14px;
   }
   .header .menu-btn span {
      border-radius: 50%;
   }
}

/* OVERLAY */
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 5;
   transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.overlay.hidden {
   opacity: 0;
   pointer-events: none;
}

/* меню */
.mobile-menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 27%;
   height: 85vh;
   max-height: 90vh;
   background: #1e1e1e;
   color: white;
   padding: 4vh 0;
   z-index: 6;

   transform: translateX(100%);
   opacity: 0; /* hidden by default */
   pointer-events: none; /* optional: block clicks when hidden */

   transition: transform 0.5s ease, opacity 0.5s ease;

   margin: 3vh 1.5vw;
   border-radius: 30px;
}

.mobile-menu.open {
   transform: translateX(0);
   opacity: 1; /* fade in */
   pointer-events: auto;
}

.mobile-menu .container {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.mobile-menu .reveal.visible {
   height: 100%;
}
.menu-header {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.menu-header h2 {
   font-size: 18px;
   font-weight: 400;
   width: fit-content;
}
.close-btn {
   background-color: #2b2b2c;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 400;
   padding: 0 9px;
   border-radius: 30px;
   line-height: 1;
   margin: 0;
   font-family: "Manrope", sans-serif;
   aspect-ratio: 1;
   transition: 0.2s;
}
.close-btn:hover {
   background-color: #4989f1;
}

.menu-nav {
   display: flex;
   flex-direction: column;
   height: 80%;
   justify-content: space-between;
   gap: 6vh;
   margin-top: 6vh;
}
.menu-nav .navigation {
   display: flex;
   flex-direction: row;
   gap: 1vw;
}
.menu-nav a {
   text-decoration: none;
   font-size: 36px;
   line-height: 100%;
   font-weight: 400;
   color: #fff;
   align-items: flex-start;
   display: flex;
   transition: 0.15s transform ease-in-out;
   transform: translateY(0);
}
.menu-nav #span {
   color: #ffffff60;
   font-size: 18px;
}
.menu-nav a:hover {
   transform: translateY(-8px);
}
.menu-nav a span:hover {
   transform: translateY(0px);
   cursor: pointer;
}
.menu-footer {
   bottom: 4vh;
   margin-top: 8vh;
   position: absolute;
}
.menu-footer p {
   color: #a0a0a0;
}

@media screen and (max-width: 1600px) {
   .mobile-menu {
      margin: 2vh 1vw;
   }
   .close-btn {
      padding: 0 10px;
   }
   .menu-nav {
      gap: 4vh;
      margin-top: 5vh;
   }
   .menu-nav a {
      font-size: 30px;
   }
   .menu-nav #span {
      font-size: 14px;
   }
}
@media screen and (max-width: 768px) {
   .mobile-menu {
      width: 90vw;
      height: 82vh;
      max-height: 82vh;
      padding: 4vh 0;
      margin: 30px;
   }
   .menu-header h2 {
      font-size: 24px;
   }
   .close-btn:hover {
      background-color: #2b2b2c;
   }
   .menu-nav .navigation {
      gap: 4vw;
   }
   .menu-nav a {
      font-size: 24px;
   }
   .menu-nav #span {
      font-size: 12px;
   }
   .menu-nav a:hover {
      transform: translateY(0);
   }
   .menu-nav a span:hover {
      transform: translateY(0);
   }
}

/* INTRO */
#intro {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   border-radius: 0 0 60px 60px;
   text-align: center;
}

#intro::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("../public/img/intro-bg.png"); /* путь без ../public */
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   filter: blur(8px); /* сам эффект */
   transform: scale(1); /* убираем края от blur */
   z-index: -1; /* чтобы фон был за текстом */
}
#intro .center {
   display: flex;
   flex-direction: column;
   margin: 20vh auto;
   width: 56.5%;
   text-align: center;
}

#intro .center h1 {
   color: #fff;
   font-size: 52px;
   line-height: 100%;
   font-weight: 500;
}
#intro .center p {
   color: #ffffff60;
   font-size: 18px;
   margin: 1em;
}
#discuss-button {
   text-decoration: none;
   color: #fff;
   border-radius: 30px;
   font-size: 18px;
   padding: 5px 5px 5px 1vw;
   border: 1px #fff solid;
   width: fit-content;
   margin: 0 auto;
   align-items: center;
   display: flex;
   gap: 0.5vw;
   font-family: "Manrope", sans-serif;
   background-color: transparent;
   transition: 0.3s ease-in-out;
   font-weight: 200;
}
#discuss-button:hover {
   color: #4989f1;
   border: 1px solid #fff;
   background-color: #fff;
   /* font-weight: 400; */
   transform: scale(1);
}
#blue {
   display: none;
}
#discuss-button:hover #white {
   display: none;
}
#discuss-button:hover #blue {
   display: block;
}

#intro .services-btns {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* position: absolute; */
   margin: 0 auto;
   width: 57%;
   gap: 0.7vw;
   justify-content: center;
}
/* #intro .bottom-blur {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 30vh;
   z-index: -1;

   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);

   background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.15) 0%,  
      rgba(255, 255, 255, 0.10) 25%, 
      rgba(255, 255, 255, 0.05) 50%, 
      rgba(255, 255, 255, 0.01) 90%, 
      rgba(255, 255, 255, 0) 100%    
   );
} */

#intro .services-btns a {
   text-decoration: none;
   color: #fff;
   border-radius: 30px;
   padding: 5px 5px 5px 1vw;
   border: 1px #fff solid;
   width: fit-content;
   align-items: center;
   display: flex;
   gap: 0.5vw;
   transition: 0.2s transform ease-in-out;
   font-size: 18px;
   font-weight: 200;
}

@media screen and (max-width: 768px) {
   #intro {
      border-radius: 0 0 30px 30px;
   }
   #intro::before {
      background-position: right;
   }
   #intro .center {
      margin: 15vh auto;
      width: 100%;
   }
   #intro .center h1 {
      color: #fff;
      font-size: 24px;
   }
   #intro .center p {
      font-size: 14px;
      margin: 1em;
   }
   #discuss-button {
      font-size: 16px;
      padding: 2px 2px 2px 4vw;
      gap: 2vw;
   }
   #discuss-button:hover {
      color: #fff;
      border: none;
      background-color: transparent;
      transform: scale(1);
   }
   #blue {
      display: none;
   }
   #discuss-button:hover #white {
      display: flex;
   }
   #discuss-button:hover #blue {
      display: none;
   }
   #intro .services-btns {
      margin: 0 auto;
      width: 95%;
      gap: 0.7vw;
      margin-top: 30vh;
      justify-content: center;
   }
   #intro .services-btns a {
      padding: 8px 4px 8px 8px;
      gap: 1vw;
      font-size: 12px;
      font-weight: 300;
   }
   #intro .services-btns a img {
      width: 20px;
   }
}

/* ABOUT */
#about {
   padding-top: 8vh;
}
#about h1 {
   color: white;
   font-size: 50px;
   font-weight: 400;
   line-height: 110%;
   margin: 4vh 0;
}
.about {
   display: flex;
   flex-direction: row;
   gap: 1vw;
   align-items: center;
}
.counter {
   display: flex;
   flex-direction: column;
   background-color: #232324;
   border-radius: 30px;
   padding: 30px;
   flex: 1;
   position: relative;
   overflow: hidden;
   transition: 0.3s;
}
.counter h2 {
   color: white;
   font-family: Manrope;
   font-weight: 400;
   font-size: 60px;
   line-height: 100%;
   letter-spacing: 0%;
   margin: 0 0 2.5vh;
}
.counter p {
   font-family: Manrope;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   color: #ffffff60;
}
.counter img {
   position: absolute;
   top: 0;
   right: 0;
   display: none;
}
.counter:hover {
   background-color: #4989f1;
}
.counter:hover img {
   display: block;
}
.reveal {
   opacity: 0;
   transform: translateY(120px);
   transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.visible {
   opacity: 1;
   transform: translateY(0);
}

@media screen and (max-width: 768px) {
   #about {
      padding-top: 4vh;
   }
   #about h1 {
      font-size: 24px;
      line-height: 150%;
      margin: 2vh 0;
   }
   .about {
      flex-direction: column;
      gap: 1vh;
   }
   .counter {
      width: 100%;
      padding: 20px 0;
   }
   .counter h2 {
      font-size: 40px;
      margin: 0 0 1.25vh 30px;
   }
   .counter p {
      font-size: 14px;
      margin: 0 0 0 30px;
   }
   .counter:hover {
      background-color: #232324;
   }
   .counter:hover img {
      display: none;
   }
}

/* SERVICES */
#services {
   padding-top: 8vh;
}
#services .container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.service .title {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0;
   background-color: transparent;
}
.services {
   /* display: flex; */
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 per row */
   gap: 1vw; /* spacing between items */
   /* flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between; */
   margin-top: 4vh;
}
.service {
   display: flex;
   flex-direction: column;
   width: 450px;
   max-width: 29vw;
   min-width: 26vw;
   height: 380px;
   border-radius: 30px;
   padding: 30px 0;
   background-color: #232324;
   /* width: 27vw; */
   aspect-ratio: 1.75;
   transition: 0.3s;
}
.service:hover {
   background-color: #4989f1;
}
.service:hover #discuss-button {
   color: #4989f1;
   border: 1px solid #fff;
   background-color: #fff;
   /* font-weight: 400; */
}
#blue {
   display: none;
}
.service:hover #white {
   display: none;
}
.service:hover #blue {
   display: block;
}
.service h1 {
   color: #fff;
   font-weight: 400;
   font-size: 36px;
   line-height: 100%;
   letter-spacing: 0%;
   margin: 0 0 2vh 0;
   background-color: transparent;
}
.service p {
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   color: #ffffff60;
   margin: 2vh 0;
}
.service #price {
   color: #fff;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   letter-spacing: 0%;
   margin: 4vh 0 8vh;
}
.service .button {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: fit-content;
   gap: 1vw;
}
.service .button img {
   /* height: 52.6px; */
   aspect-ratio: 1;
   object-fit: contain;
}

@media screen and (max-width: 768px) {
   #services {
      padding-top: 4vh;
   }
   #services .container {
      height: fit-content;
      min-height: fit-content;
   }
   .services {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      margin-top: 2vh;
   }
   .service {
      width: 100%;
      max-width: fit-content;
      min-width: fit-content;
      height: fit-content;
      padding: 20px 0;
      aspect-ratio: 1.75;
   }
   .service:hover {
      background-color: #232324;
   }
   .service:hover #discuss-button {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      /* font-weight: 400; */
   }
   #blue {
      display: none;
   }
   .service:hover #white {
      display: block;
   }
   .service:hover #blue {
      display: none;
   }
   .service h1 {
      font-size: 24px;
      line-height: 150%;
      margin: 0;
   }
   .service p {
      font-size: 16px;
      line-height: 130%;
      margin: 0.3vh 0;
   }
   .service #price {
      font-size: 20px;
      margin: 2vh 0 4vh;
   }
   .service .button {
      gap: 2vw;
   }
   .service .button img {
      width: 45px;
   }
}

/* CASES */
#cases {
   padding-top: 8vh;
}
.cases-title {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 4vh;
}
.cases {
   display: flex;
   flex-direction: row;
   overflow: hidden; /* hides extra cases */
   scroll-behavior: smooth; /* smooth movement */
   gap: 1vw;
   width: 100%;
   overflow-x: scroll;
   scrollbar-width: none;
   /* padding-left: 5vw;
   margin-right: 5vw; */
}

.case {
   flex: 0 0 auto; /* prevents shrinking, keeps items side by side */
   width: 44.4vw; /* each case takes full container width */
}
.case #pr-img {
   width: 100%;
}
@media screen and (min-width: 1600px) {
   .case {
      width: 39.5vw; /* each case takes full container width */
   }
}
.nav-buttons {
   display: flex;
   flex-direction: row;
   gap: 2vw;
}
.nav-buttons button {
   background-color: #232324;
   border-radius: 30px;
   aspect-ratio: 1;
   transform: scale(2);
   color: #ffffff50;
   border: none;
   font-weight: 200;
   transition: 0.3s;
}
.nav-buttons button:hover {
   color: #fff;
}
.nav-buttons button.active {
   color: #fff;
   background-color: #4989f1;
}
.case .tablet {
   background-color: #232324;
   border-radius: 30px;
   padding: 1.75vh 0 2vh;
   margin-top: 2vh;
   transition: 0.3s;
}
.case .tablet .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 94%;
}
.case .tablet h1 {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 24px;
   line-height: 100%;
   letter-spacing: 0%;
   color: #fff;
   text-decoration: none;
   margin: 0 0 1.25vh 0;
}
.case .tablet p {
   color: #ffffff60;
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
}
#cases a:hover .tablet {
   background-color: #ffffff;
}
#cases a:hover .tablet h1 {
   color: #4989f1;
}
#cases a:hover .tablet p {
   color: #2b2b2c;
}

/* PROCESS */
#process {
   padding-top: 8vh;
}
.phases {
   margin-top: 4vh;
   height: 1100px;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   gap: 200px;
   text-align: center;
   scrollbar-width: none;
   justify-content: space-around;
}
.phases .phase {
   height: 800px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2vh;
   width: 70vw;
   margin: auto;
   /* border: 1px solid red ; */
}
.phase .tablet {
   display: flex;
   flex-direction: row;
   gap: 1vw;
   align-items: center;
   margin: 0 auto;
}
.phase .tablet p {
   color: #ffffff;
   background-color: #232324;
   padding: 15px 22px;
   border-radius: 30px;
}
.phase h1 {
   color: #fff;
   font-family: Manrope;
   font-weight: 500;
   font-style: Medium;
   font-size: 60px;
   line-height: 100%;
   letter-spacing: 0px;
   text-align: center;
   vertical-align: bottom;
}
.phase #description {
   color: #ffffff60;
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   vertical-align: bottom;
}
.phases .reveal {
   opacity: 0;
   transform: translateY(200px);
   transition: opacity 0.8s ease, transform 0.8s ease;
}
.phases .reveal.visible {
   opacity: 1;
   transform: translateY(0);
}

/* FEEDBACKS */
#feedbacks {
   padding-top: 8vh;
}
.feedback {
   flex: 0 0 auto; /* prevents shrinking, keeps items side by side */
   width: 29.2vw;
   height: fit-content;
   min-height: 280px;
   max-height: fit-content;
   border-radius: 30px;
   background-color: #232324;
}
@media screen and (min-width: 1600px) {
   .feedback {
      width: 26vw; /* each case takes full container width */
   }
}
.feedback .container {
   padding: 2vh 0;
   height: 300px;
   max-height: fit-content;
}
.feedback .header-fb {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 0.5vw;
}
.header-fb .rating {
   display: flex;
   flex-direction: row;
   gap: 0.25vw;
   align-items: center;
   background-color: #2b2b2c;
   border-radius: 30px;
   padding: 5px 10px;
}
#rating {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 18px;
   line-height: 100%;
   color: #fff;
   letter-spacing: 0%;
}
.header-fb .info {
   display: flex;
   flex-direction: column;
   gap: 0.5vh;
}
.header-fb .info h1 {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   color: #fff;
}
.header-fb .info p {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 14px;
   line-height: 100%;
   color: #ffffff60;
   letter-spacing: 0%;
}
.feedback #desc {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 18px;
   line-height: 150%;
   color: #fff;
   letter-spacing: 100%;
   margin-top: 2vh;
}

/* APPLICATION */
#application {
   padding-top: 8vh;
}
.application {
   margin-top: 4vh;
   display: flex;
   flex-direction: row;
   gap: 1vw;
}
#soc-media {
   background-color: #232324;
   width: 44.5vw;
   border-radius: 30px;
   position: relative;
   overflow: hidden;
}
#soc-media .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
#soc-media .logo {
   margin-top: 5vh;
   display: flex;
   flex-direction: column;
   gap: 2vh;
   width: 50%;
}
#soc-media p {
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   color: #ffffff60;
}
#soc-media .media {
   display: flex;
   flex-direction: column;
   gap: 1.5vh;
   margin-bottom: 5vh;
}
#soc-media .title {
   background-color: #2b2b2c;
   transition: 0.3s;
}
#soc-media .title:hover {
   background-color: #4989f1;
}
#soc-media .title:hover .blue-point {
   background-color: #fff;
   animation: none;
}
#soc-media #group {
   position: absolute;
   right: 0;
   top: 0;
}

/* Form0 */
#form {
   background-color: #232324;
   padding: 3vh 0;
   width: 44.5vw;
   border-radius: 30px;
}
#form .container {
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 4vh;
}
#form h2 {
   color: #ffffff;
   font-family: Manrope;
   font-weight: 400;
   font-style: Regular;
   font-size: 36px;
   line-height: 135%;
   letter-spacing: 0%;
   width: 90%;
}
#form form {
   display: flex;
   flex-direction: column;
   gap: 1.25vh;
}
#form form div {
   background-color: #2b2b2c;
   padding: 2vh 0;
   width: 100%;
   border: none;
   border-radius: 30px;
}
#form form input {
   margin: 0 2vh;
   background-color: transparent;
   border: none;
   font-family: "Manrope", sans-serif;
   font-size: 16px;
   width: 90%;
   border: none;
   outline: none;
   color: #fff;
}
#form button {
   width: 100%;
   border-radius: 30px;
   background-color: #4989f1;
   color: #fff;
   font-family: "Manrope", sans-serif;
   font-weight: 200;
   font-style: Regular;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   padding: 2vh 0;
   margin-top: 1vh;
   border: none;
}
.full-page-form {
   position: fixed; /* cover entire screen */
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 6; /* higher than overlay */
}

.form-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
   background: #232324;
   padding: 4vh 0;
   border-radius: 30px;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
   width: 44.5vw;
}
.form-wrapper .container {
   text-align: center;
}
.form-wrapper .close-btn {
   position: absolute;
   top: 2vh;
   right: 2vh;
   border: none;
   background: transparent;
   font-size: 1.5rem;
   cursor: pointer;
   background-color: #2b2b2c;
}

/* FOOTE0R */
#footer {
   padding: 8vh 0 4vh;
}
#footer .logo {
   border-bottom: 1px solid #2b2b2c;
   padding-bottom: 1.5vh;
}
.logo img {
   width: 10vw;
}
.footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin-top: 4vh;
}
.footer p {
   color: #ffffff;
   font-weight: 400;
   font-style: Regular;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.24px;
}
